
.page-outline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px; 
    box-shadow: inset 0 0 0 10px #1c2a26; 
    pointer-events: none;
    z-index: 0;
}
.outline {
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 30px);
    border: 30px solid #1c2a26;
    border-radius: 35px;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 0;
}
.image {
    width: 300px;
    margin-left: 20px
}
.indented {
  text-indent: 2em;  
}
.download {
    font-size: 15pt;
    font-family: 'Times New Roman';
    color: #eafff6;
    transition: transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
.download:hover {
  transform: scale(1.02);
}

body {
    background: linear-gradient(to bottom, #275040, #061018);
    background-color: #003425;
    font-family: 'Times New Roman';
    font-size: 18px;
    padding: 40px;
    min-height: 100vh;
    margin: 10px;
    color: #eafff6;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

h1 {
    color: #eafff6;
    font-family: 'Times New Roman';
    border-bottom: 4px solid #89c8a4;
    padding-bottom: 10px;
    padding-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    text-indent: 0;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.index-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    grid-auto-flow: row;
}

.index-grid p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    color: #eafff6;
    width: auto;
}

.index-grid a {
    color: #eafff6;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.symbol {
    font-size: 12px;
    color: rgb(142, 204, 169);
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.corner-square {
    width: 40px;
    height: 40px;
    background-color: #eafff6;
    border-radius: 15px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.corner-name {
    position: absolute;
    top: 30px;
    left: 70px;
    font-size: 20px;
    color: #eafff6;
    margin: 0;
    z-index: 2;
}

.menu-lines {
  position: absolute;
  top: 0; 
  right: 0; 
  width: 60px; 
  height: 60px; 
  transition: transform 0.3s ease;
  cursor: pointer;
}

.menu-lines:hover {
  transform: scale(1.04);
}

.menu-lines .line {
  width: 30px;
  height: 3px;
  background-color: #eafff6;
  position: absolute;
  right: 20px; 
  z-index: 2;
}

.line1 { top: 30px; }
.line2 { top: 40px; }
.line3 { top: 50px; }


.home-text {
    position: absolute;
    text-decoration: none;
    top: 30px;
    right: 70px;
    font-size: 20px;
    color: #eafff6;
    margin: 0;
    z-index: 2;
    cursor: pointer;
  transition: transform 0.3s ease;
}
.home-text:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
    .image {
        width: 200px;
    }
    
    .index-grid {
        grid-template-columns: repeat(2, auto);
    }

    
    .index-grid p {
        width: 75px;
    }

    
    h1 {
        font-size: 24px;
    }

   
    .corner-square {
      width: 40px;
    height: 40px;
    background-color: #eafff6;
    border-radius: 15px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    }

   
    .corner-name {
        top: 30px;
        left: 70px;
        font-size: 20px;
    }

    
.menu-lines .line {
    width: 30px;
    height: 3px;
    background-color: #eafff6;
    position: absolute;
    right: 20px;
    z-index: 2;
}

.line1 { top: 30px; }
.line2 { top: 40px; }
.line3 { top: 50px; }


.home-text {
    position: absolute;
    text-decoration: none;
    top: 30px;
    right: 70px;
    font-size: 20px;
    color: #eafff6;
    margin: 0;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.home-text:hover {
  transform: scale(1.2);

    /* Reduce body padding */
    body {
        padding: 20px;
    }
}
